/*
Theme Name: ThemeName
<<<<<<< HEAD
Theme URI: http://athlonproduction.com
=======
Theme URI: http://www.weareathlon.com
>>>>>>> 2b0f0a56a83b2f4e3a8d46ac30792766500e214c
Description: Full featured theme for handling ThemeName website
Version: 1.0
Author: Athlon
Author URI: http://www.weareathlon.com
Tags: custom
Last updated: 16:00 PM 9/08/2011
*/

/* Wordpress content related styles */
.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.wp-caption {
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f3f3f3;
    padding-top: 4px;
    margin: 10px;
    /* optional rounded corners for browsers that support it */
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    padding: 0 4px 5px;
    margin: 0;
}

.rich-text ul {
    display: block;
    padding: 0px 0px 10px 10px
}

.rich-text ul li {
    list-style: disc inside;
}

.rich-text blockquote {
    font-family: Georgia, "Bitstream Charter", serif;
    font-style: italic;
    font-weight: normal;
    margin: 0 3em;
}

.rich-text blockquote em, .rich-text blockquote i, .rich-text blockquote cite {
    font-style: normal;
}

.rich-text blockquote cite {
    color: #666;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.rich-text em {
    font-style: italic;
}

.rich-text strong {
    font-weight: bold;
}
